<h1>Courses</h1>
<%= form_with(url:  students_path , method: :get) do |form| %>
  <%= form.text_field :query, placeholder: "Search for courses..." %>
  <%= form.submit "Search" %>
<% end %>

<table>
  <thead>
    <th>Course</th>
    <th>Discription</th>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= link_to "Enroll", create_enrollment_path(course_id: course.id), data: { 'turbo-method' => :post } %></td>
    </tr>
    <% end %>
  </tbody>
</table>